html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Raleway', sans-serif;
}
.header
{
	width: 100%;
	height: 80px;
	background-color: #233E90;
    border-bottom: 2px solid #FFD42A;
   

}
.container
{
	width: 1080px;
	
}

.logo img
{
float:left;
padding-top: 30px;
padding-right: 300px;
padding-left: 20px;

}

.heading h1 a
{
font-family: 'Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif';
	text-decoration: none;
	color: #fff;
	font-size: 25px;
font-weight: 300px;
position: relative;
top:26px;
left:140px;
	letter-spacing: 2px;
    text-align: center;
text-transform: uppercase;
	
}